---
id: 1923Jwxnr3W2zXVUSazDbsJ4hyd08QhkPrTnsOkuuT-U
registration:
repo:
---

<!DOCTYPE html>
<html>

  {% include head.html %}


    <body id="page-top" class="index">
    {% include header.html %}

    <!-- Form Details Section -->
    <section id="form">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h3>What:</h3>
            <p>As part of our first event we are also hoping to spend some time in a less formal setting with drinks and food.</p>
            <h3>When:</h3>
            <p>Wednesday, January 13, 2016 at 7pm.
            <h3>Where:</h3>
            <p><a href="http://www.mewstavern.com/">Mews Tavern</a> in <a href="https://www.google.com/maps/place/Mews+Tavern/@41.4360632,-71.5048239,17z/data=!3m1!4b1!4m2!3m1!1s0x89e5b936389acc9b:0xe63fb8a3574ca2fb">Wakefield, RI.</a></p>
            <p>If you are planning on joining us please submit your name via this form.  Thanks.</p>
            <form action="https://script.google.com/macros/s/AKfycbzkF_wHxE3jg_WcUNQCD4kDWoPFp_cIE4mR-yUa4-Fktwgaufg/exec" accept-charset="UTF-8" method="get">
              <!-- Enter Google Spreadsheet ID in the yaml -->
              <!-- Awful hack to put id in 0 spot - -->
              <!-- keep name of "a" as values are passed alphabetically  -->
              <input type="hidden" name="a" value='{{ page.id }}' />
              <!-- all your input fields here.... -->
              <fieldset>
                <legend>RSVP</legend>
                  <div>
                  <label for="name">Name (required): </label></br>
                  <input type="text" name="name" placeholder="First Name Last Name" tabindex="1" required></br>
                  </div>
              </fieldset>
              </br>
              <button type="submit">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </section>

    {% include footer.html %}
    {% include js.html %}

    </body>
</html>
