<!-- Event Details Section -->
<section id="event">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1> {{ page.event }} </h1>
        <p> {{ page.description | markdownify }} </p>
        {% if page.address || page.location %}
          <h3>Location:</h3>
          <p>
            <a href="{{page.location.URL}}">{{page.location.name}} </a>
            <a href="https://maps.google.com/?q={{page.address}}">(map)</a>
          </p>
        {% endif %}

        {% if page.date %}
          <h3>Date(s):</h3>
        {% endif %}
        {% for dates in page.date %}
          <li>
            <span><time datetime="{{dates}}"> {{ dates | date: "%b %-d, %Y %H:%M"}} </time></span>
          </li>
        {% endfor %}
        {% if page.note %}
          <h2><emph>NOTE:</emph></h2>
          <p>{{page.note | markdownify}}</h2></p>
        {% endif %}
      </div>
    </div>
  </div>
</section>