---
ssid: '11N7NXHEEjpPPth9VvbwdEjKsCKf6PFdA7GtubwnjQVk'
---
<section id="form">
  <form action="https://script.google.com/macros/s/AKfycbzkF_wHxE3jg_WcUNQCD4kDWoPFp_cIE4mR-yUa4-Fktwgaufg/exec" accept-charset="UTF-8" method="get">
  <!-- Google Spreadsheet ID taken from YAML -->
  <input  name='ssid' value='{{page.ssid}}' />
  <!-- all your input fields here.... -->
  <input type="email" name="email" placeholder="Your Email">
  <input type="text" name="name" placeholder="Your Name">
  <input type="url" name="url" placeholder="Your Website">
  <button type="submit">Submit</button>
</form>
</section>