{% include css/bootstrap.min.css %}
{% include css/agency.css %}

/* Edit by jwh to kill border with primary color xxx */

.btn {
  border: 0px;
}

/* Edit by jwh to change link styling in event */

#event a {
  color: #198C7E;
  text-decoration: none;
}

#event a:hover {
  color: #D5D693;
  text-decoration: underline;
}